.info {
    padding-left: 0px;
    padding-right: 30em;
    width: 30px;
}
.stats {
    padding-left: 30rem;
    padding-right: 0px;
    width: 30px;
}
.navbar {
    text-align: center;
}
.navbar li {
    display: inline-block;
}
.navele {
    display: block;
}

.crossOuter {
    padding: 0;
    margin: 0;
    text-align: right;
}
#eximg {
    width: 80%;
}
#stats,
#result {
    font-size: 20px;
    text-align: center;
}
.mini {
    font-size: 10px;
}
